<!-- Agenda View -->
<div class="container">
	<div class="card-panel blue-grey lighten-5 col s10 offset-s1 z-depth-3">
		<h4>Weekly Agenda</h4>
		<%for day in @this_week_events %>
			<!-- Display the Day of the Week as the Header -->
			<%if day.equal?(@this_week_events.first) %>
				<h6 class="agenda_header">Today</h6>
			<% else %>
				<h6 class="agenda_header"><%= day[0].strftime('%A, %b %e') %></h6>
			<% end %>
			<!--Display the events during the day -->
			<%for event in day[1] %>
				<div class="row" style="margin-bottom: 0px;">
					<div class="col s3"><%= event.start_time.strftime('%I:%M %p') %></div>
				    <div class="col s6">
				    	<%= link_to event_path(event), class: "span" do %>
						    <%= event.short_description %>
						<% end %>
				    </div>
				   	<div class="col s3">
		    			<%= link_to edit_event_path(event), class: "span" do %>
						    <i class="material-icons btn-icons edit-btn">mode_edit</i>
						<% end %>
						<%= link_to event_path(event), method: :delete,  class: "span" do %>
						    <i class="material-icons btn-icons delete-btn">delete</i>
						<% end %>
				   	</div>
				</div>	
			<% end %>
			<!-- If there's no events on that day...-->
			<% if day[1].empty? %>
				<div class="row" style="margin-bottom: 0px;">
					<div class="col s12">No events yet.</div>
				</div>
			<% end %>
		<% end %>
		
	</div> <!-- Closes Card Panel-->
</div> <!-- Closes Container-->


